In [21]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [26]:
csv_file = "C:/Users/Robin/Downloads/Housing_Final_Datafile_v2.04.csv"
df = pd.read_csv(csv_file)
df.head()

,sequence,year,type,geo_id,geo_id_2,county_state,total_housing_units,total_housing_units_occupied,median_rooms,owner_occupied_units,...,monthly_cost_with_mortgage,monthly_cost_no_mortgage,county_state_year,has_zillow,median_home_sales_zillow,county,state,city_top_100,population,median_income
0,24660,2017,575,0500000US48261,48261,Kenedy County_Texas,253,152,4.0,43,...,NaN,121.0,Kenedy County_Texas_2017,NaN,NaN,Kenedy County,Texas,NaN,564,24800.0
1,98,2010,567,0500000US04001,4001,Apache County_Arizona,32468,18859,4.1,14391,...,881.0,159.0,Apache County_Arizona_2010,NaN,NaN,Apache County,Arizona,NaN,70312,30184.0
2,3242,2011,567,0500000US04001,4001,Apache County_Arizona,32511,18953,4.1,14442,...,911.0,165.0,Apache County_Arizona_2011,NaN,NaN,Apache County,Arizona,NaN,70906,31011.0
3,6145,2011,567,0500000US54013,54013,Calhoun County_West Virginia,3958,3146,5.5,2425,...,625.0,166.0,Calhoun County_West Virginia_2011,NaN,NaN,Calhoun County,West Virginia,NaN,7616,26099.0
4,6386,2012,567,0500000US04001,4001,Apache County_Arizona,32548,19035,4.2,14513,...,965.0,169.0,Apache County_Arizona_2012,NaN,NaN,Apache County,Arizona,NaN,71618,31615.0

### Connect to local database

In [27]:
database_path = "housing_db.sqlite"
engine = create_engine(f"sqlite:///{database_path}")

### Use pandas to load csv converted DataFrame into database

In [28]:
df.to_sql(name='housing', con=engine, if_exists='append', index=False)

### Check for tables

In [29]:
engine.table_names()

['housing']

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [25]:
pd.read_sql_query('select * from housing limit 50', con=engine).head()

,sequence,year,type,geo_id,geo_id_2,county_state,total_housing_units,total_housing_units_occupied,median_rooms,owner_occupied_units,...,monthly_cost_with_mortgage,monthly_cost_no_mortgage,county_state_year,has_zillow,median_home_sales_zillow,county,state,city_top_100,population,median_income
0,24660,2017,575,0500000US48261,48261,Kenedy County_Texas,253,152,4.0,43,...,NaN,121.0,Kenedy County_Texas_2017,None,NaN,Kenedy County,Texas,None,564,24800.0
1,98,2010,567,0500000US04001,4001,Apache County_Arizona,32468,18859,4.1,14391,...,881.0,159.0,Apache County_Arizona_2010,None,NaN,Apache County,Arizona,None,70312,30184.0
2,3242,2011,567,0500000US04001,4001,Apache County_Arizona,32511,18953,4.1,14442,...,911.0,165.0,Apache County_Arizona_2011,None,NaN,Apache County,Arizona,None,70906,31011.0
3,6145,2011,567,0500000US54013,54013,Calhoun County_West Virginia,3958,3146,5.5,2425,...,625.0,166.0,Calhoun County_West Virginia_2011,None,NaN,Calhoun County,West Virginia,None,7616,26099.0
4,6386,2012,567,0500000US04001,4001,Apache County_Arizona,32548,19035,4.2,14513,...,965.0,169.0,Apache County_Arizona_2012,None,NaN,Apache County,Arizona,None,71618,31615.0